<header class="app-header">
  <div class="container">
    <div class="brand">
      <img src="image/assets/logo-orange.png" alt="Logo" class="logo" />
      <span class="title">ResoScan</span>
    </div>
    <nav>
      <button routerLink="/map" class="nav-btn">Accueil</button>
      <button routerLink="/incident" class="nav-btn">Nouvel Incident</button>
      <button routerLink="/liste" class="nav-btn">Liste</button>
      <button routerLink="/notifications" class="nav-btn">
        Notifications
        <span class="badge" *ngIf="unreadCount > 0">{{ unreadCount }}</span>
      </button>
      <button routerLink="/dashboard" class="nav-btn">Dashboard</button>
      <button routerLink="/login" class="logout-btn">Déconnexion</button>
    </nav>
  </div>
</header>
